.room-card-small
    max-width: 450px
    cursor: pointer
    width: 100%
    .image-wrapper-full-width
        width: 100%
        max-height: 351px
        overflow: hidden
        position: relative
        margin-bottom: 20px
        &::before
            content: ''
            display: block
            padding-bottom: 100%
    &__img
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


    h6
        margin-bottom: 20px

    &__text
        +ralewayLight16
        color: $dark

@media (max-width: 992px)
    .room-card-small

        img
            margin-bottom: 10px

        h6
            margin-bottom: 6px
@media (max-width: 575px)
    .room-card-small
        max-width: none
        .image-wrapper-full-width
            overflow: initial
        &__img
            width: 100vw
            left: 50%
            transform: translateX(-50%)
