.header
    min-height: 690px
    margin-bottom: 120px

    display: flex
    align-items: center
    &--big
        height: 100vh
        margin-bottom: 0
        h1
            //margin-top: 270px
            max-width: 515px

        h1.title
            &--wide
                max-width: 1335px

    &__wrapper
        display: flex
        flex-direction: column
        align-items: center
        //margin-top: 190px

    .button-blur
        display: none
.main-screen-slider
    margin-bottom: 200px
    .swiper-wrapper
        display: flex
    .swiper-slide
    .header
        transition: background-position 1s ease-out
        min-width: 100vw
    .swiper-pagination-bullets
        bottom: 16px !important
    .swiper-pagination-bullet
        position: relative
        width: 160px
        border-radius: 0 !important
        height: 2px !important
        opacity: initial !important
        background-color: transparent
        i
            position: absolute
            bottom: 0
            left: 0
            height: 100%
            width: 100%
            background: #fff !important
            opacity: .3 !important
        b
            position: absolute
            left: 0
            bottom: 0
            height: 100%
            width: 100%
            background: #fff !important
            opacity: 1 !important


    .swiper-pagination-bullet.swiper-pagination-bullet-active
        b
            animation-name: filling
            animation-duration: 5s
            animation-timing-function: ease-in
            animation-iteration-count: 1
            animation-direction: alternate
            animation-fill-mode: forwards
        &~.swiper-pagination-bullet
            b
                width: 0
            i
                opacity: .3 !important
@keyframes filling
    0%
        width: 0
    100%
        width: 100%
@media (max-width: 1650px)
    .header
        &.header--big
            h1
                margin-left: 80px

@media (max-width: 992px)
    .header
        min-height: 267px
        margin-bottom: 80px

        &--big
            height: 432px
            margin-bottom: 80px

            h1
                margin-top: 111px
                max-width: 230px

        &__wrapper
            margin-top: 60px
    .main-screen-slider
        position: relative
        .header
            margin-bottom: 0
            transform: scale(1) !important
            background-position: center !important
        .swiper-pagination-bullets
            bottom: 100px !important

        .swiper-pagination-bullet
            width: 63px
            height: 1px !important

@media (max-width: 575px)
    .header
        min-height: 450px
        margin-bottom: 60px
        display: flex
        flex-direction: column
        justify-content: space-between
        .container
            margin-top: 42%
        &--big
            height: 568px
            margin-bottom: 60px
            .container
                margin-top: 50%

            h1
                margin-top: 0
                max-width: 238px
                margin-left: 0

        &--contact
            h1
                text-align: center

        &__wrapper
            margin-top: 0

        .button-blur
            display: block
            margin-bottom: 16px
            margin-left: 15px
            margin-right: 15px
            padding: 25px 95px
