.modal-discover
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 15
    display: flex
    justify-content: center
    align-items: center
    &__wrapper
        overflow: hidden
        max-width: 1170px
        //margin: auto
        //margin-top: 5%
        width: 100%
        background-color: $white
        display: flex
    &__content
        width: 50%
        max-height: 700px
    &__map
        width: 50%
        position: relative
    &__img
        max-width: 100%
        min-width: 100%
        max-height: 347px
        height: 100%
        object-fit: cover
    &__content-wrapper
        padding: 50px 60px 60px
        max-height: 350px
        overflow-y: auto
    &__title
        margin-bottom: 40px
        @include ralewayReg25
        font-size: 30px
    &__text
        margin-bottom: 50px
        @include ralewayReg16
        font-size: 15px
    &__footer
        display: flex
        justify-content: space-between
        align-items: center
    &__footer-title
        @include ralewayBold12
        text-transform: uppercase
        color: $light-brown
    &__footer-buttons
        display: flex
    &__footer-button
        border-radius: 50%
        overflow: hidden
        label
            height: 34px
            width: 34px
            border: none
            background: none
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
        input
            visibility: hidden
            opacity: 0
            height: 0
            width: 0
            position: absolute
        &:first-of-type
            margin-right: 20px
        input:checked ~ label
            background: #E9EFF1
    //&__footer-UI.active
@media (max-width: 890px)
    .modal-discover
        overflow-y: auto
        justify-content: initial
        align-items: initial
        display: block
        &:before
            content: ''
            position: absolute
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L25 25' stroke='white' stroke-width='2'/%3E%3Cpath d='M25 1L1 25' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A")
            height: 26px
            width: 26px
            top: 20px
            right: 20px
        &__wrapper
            flex-direction: column
            margin-top: 64px
            margin-bottom: 150px
        &__content
            width: 100%
            max-height: none
        &__content-wrapper
            max-height: none

        &__map
            height: 414px
            width: 100%



